@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 992px) {

}

@media (min-width: 768px) {
    .slider__small {
        display: none;
    }

    .navbar-static-top {
        display: none;
    }
}

@media (max-width: 767px) {
    .form {
        display: block;
    }

    .slider-section {
        display: none;
    }

    .navbar-fixed-top {
        display: none;
    }
}

@media (max-width: 575px) {

}